@import ../private/vars

.box
    --breakLevel: 1
    --breakLevelOpacity: 1
    position: relative
    left: 0
    min-width: 12.5rem
    max-width: 48.75rem
    min-height: 9.375rem
    background: fade-out(darken($color-fg, 10%), 0.1)
    border: 3px solid fade-out(darken($color-fg, 10%), 1)
    margin: auto
    margin-top: calc(var(--breakLevel) * 4px + 5px)
    padding: 0 1em 1em
    color: $color-bg
    transition: opacity $transition
    font-size: 1rem
    line-height: 1.5em
    width: 80%
    z-index: var(--breakLevel)
    opacity: calc(0.3 + var(--breakLevel) / 10)
    opacity: var(--breakLevelOpacity) // set by js
    box-shadow: fade-out($color-fg, 0.3) 0 0 calc(var(--breakLevel) * 10px + 1px)

    &.is--hovered,
    &:hover,
    .error404 &,
    .single &,
    .page &
        opacity: 1

    &__header
        position: static

        &__title
            color: $color-bg
            display: block
            transition: opacity $transition
            text-decoration: underline
            font-weight: bold
            overflow: visible
            pointer-events: none
            line-height: 1em
            word-break: break-all
            bottom: 40%
            opacity: 1
            position: relative
            transform: none
            width: 100%
            height: auto
            left: 0
            font-size: 3.5em
            text-align: left

            &::before
                display: inline-block
                font-family: $font-family-icon
                margin-right: 0.3em
                backface-visibility: hidden

            .is--Photo &::before
                content: "\f030"
            .is--Video &::before
                content: "\f03d"
            .is--Mixed &::before
                content: "\f0c3"

            .box.is--hovered &,
            .box:hover &,
            .error404 .box &,
            .single .box &,
            .page .box &
                opacity: 1

    p
        margin: 1em 0 0

    li
        margin-left: 1.5em

    a:not(.youtube-player),
    &__more:after
        color: $color-fg
        background-color: $color-bg
        text-decoration: none
        width: auto

    &__more
        text-align: right
        pointer-events: none
        text-decoration: none
        font-weight: bold
        height: 1rem
        margin-top: -0.5rem
        background: transparent
        font-size: 0

        &::after
            content: "mehr lesen \2023"
            float: right
            pointer-events: all
            padding: 0 0.3rem
            font-size: 1rem

    &__img
        display: flex
        width: 100%
        overflow: hidden
        align-items: center
        justify-content: center
        background-color: $color-fg

        &.is--cropped
            max-height: 21.88rem

        &.focus-top
            align-items: flex-start

        img
            width: 100%
            height: 100%

    *:last-child
        margin-bottom: 0

@media (min-width: $breakpoint)
    .box
        --breakLevel: var(--level)
        --breakLevelOpacity: var(--levelOpacity)
        left: calc(var(--breakLevel) * 10px)
        width: 50%

        &__header
            position: fixed
            top: 2rem
            left: 2rem

            &__title
                color: $color-fg
                opacity: 0
                position: fixed
                font-size: 4.5rem
                text-align: center
                transform: rotate(-90deg)
                top: 55vh
                left: -30vh
                width: 80vh
                height: 1rem
