@import ../private/vars

.header
    position: fixed
    left: 1rem
    top: 1rem
    z-index: $z-index-header

    ul, li
        display: inline
        list-style: none
        margin-right: .3125rem
        float: left

    a
        font-size: 1rem
        color: $color-bg
        font-weight: bold
        transition: letter-spacing $transition
        letter-spacing: -2px
        background-color: $color-fg
        padding: 1px 5px
        text-decoration: none
        text-transform: lowercase
        display: inline

    a:hover, a:active, .current-menu-item a
        letter-spacing: 1px
        cursor: pointer

    &__title
        font-size: 1rem
        display: inline

        &::after
            content: "_"
            transform: scale(1.4) translate(0.4ch, -0.2em)
            display: inline-block
            width: 1ch

    &__navigation
        margin-top: 0.3125rem
