@import ../private/vars

*
    margin: 0
    padding: 0
    font-family: $font-family-base, sans-serif

html
    min-height: 100%

body
    padding-top: 6em
    padding-bottom: 3em
    font-size: $font-size-base

#main
    --scrollDistance: 1
    perspective: 100vh
    perspective-origin: 50vw calc(var(--scrollDistance) * 1px)

.main-content
    --tiltY: 0
    transform: rotateY(calc(var(--tiltY) * -0.5deg))

.clear
    clear: both
    height: 0

#ctrl-btn
    visibility: hidden

table
    margin: auto

    tr
        td
            padding: 0.2em 0.5ch
            border-right: 1px solid lighten($color-fg, 8)
            border-bottom: 1px solid lighten($color-fg, 8)

            &:last-of-type
                border-right: 0

        &:last-of-type td
            border-bottom: 0

code, .code
    position: relative
    display: inline-block
    padding: 0 0.25ch
    white-space: pre
    background-color: lighten($color-fg, 4)
    border: 1px solid lighten($color-fg, 8)

    &__line
        display: block
        font-family: $font-family-monospace
        letter-spacing: 0.1ch
        width: calc(100% - 0.5ch)
        min-height: 1.5em
        padding: 0 0.5ch

    pre &
        display: block
        margin: 1em 0
        padding: 1em 3ch

        .code__line
            width: 100%
            padding: 0 0 0 2ch
            white-space: pre-wrap

@media (min-width: $breakpoint)
    body
        padding: 0

    #main
        perspective: unset

    .main-content
        transform: none
