@import ../private/vars

/* open-sans-regular - latin_cyrillic */
@font-face
    font-family: $font-family-base
    font-style: normal
    font-weight: $font-weight-normal
    font-display: fallback
    src: local('Open Sans'), local('OpenSans'),
    url('../assets/open-sans-v13-latin_cyrillic-regular.woff2') format('woff2'),
    url('../assets/open-sans-v13-latin_cyrillic-regular.woff') format('woff')

/* open-sans-italic - latin_cyrillic */
@font-face
    font-family: $font-family-base
    font-style: italic
    font-weight: $font-weight-normal
    font-display: fallback
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
    url('../assets/open-sans-v13-latin_cyrillic-italic.woff2') format('woff2'),
    url('../assets/open-sans-v13-latin_cyrillic-italic.woff') format('woff')

/* open-sans-700 - latin_cyrillic */
@font-face
    font-family: $font-family-base
    font-style: normal
    font-weight: $font-weight-bold
    font-display: fallback
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../assets/open-sans-v13-latin_cyrillic-700.woff2') format('woff2'),
    url('../assets/open-sans-v13-latin_cyrillic-700.woff') format('woff')

/* open-sans-700italic - latin_cyrillic */
@font-face
    font-family: $font-family-base
    font-style: italic
    font-weight: $font-weight-bold
    font-display: fallback
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
    url('../assets/open-sans-v13-latin_cyrillic-700italic.woff2') format('woff2'),
    url('../assets/open-sans-v13-latin_cyrillic-700italic.woff') format('woff')

/* OxygenMono */
@font-face
    font-family: $font-family-monospace
    font-style: normal
    font-weight: $font-weight-normal
    font-display: fallback
    src: url('../assets/OxygenMono-Regular.woff2') format('woff2'),
    url('../assets/OxygenMono-Regular.woff') format('woff')


/* font awesome - stripped down */
@font-face
    font-family: $font-family-icon
    font-style: normal
    font-display: swap
    src: local('awesome'),
    url('../assets/fontawesome_customized.woff2') format('woff2'),
    url('../assets/fontawesome_customized.woff') format('woff')
