@import ../private/vars

.youtube-player
    border: none
    margin: 1em auto
    position: relative
    cursor: pointer
    width: 100%
    display: flex
    justify-content: center
    overflow: hidden
    align-items: center
    background-color: transparent

    &:not(.is--loaded)
        height: 0
        padding-top: 56.25% // full hd aspect ratio

    &__picture
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        opacity: 0.8
        transition: opacity $transition

    &__thumbnail
        width: 100%
        height: 100%

    &__icon::before
        color: $color-bg
        position: absolute
        content: "\f03d"
        top: 50%
        left: 0
        width: 100%
        text-align: center
        font-size: 6.25rem
        font-family: $font-family-icon
        text-decoration: none
        opacity: 1
        transition: opacity $transition

@media (min-width: $breakpoint)
    .youtube-player__picture
        height: 140%
        top: -20%
