$font-family-base: 'Open Sans'
$font-family-monospace: 'OxygenMono'
$font-family-icon: 'awesome'

$font-weight-normal: 400
$font-weight-bold: 700

$font-size-base: 16px

$color-bg: #eee
$color-body: darken($color-bg, 5%)
$color-fg: #222
$color-highlight: #f07

$z-index-header: 1000
$z-index-overlay: 2000

$breakpoint: 769px / $font-size-base * 1rem

$transition: .4s ease-in-out

@mixin loading-indicator($loading-color: $color-fg)
    &::after
        content: ""
        display: inline-block
        width: 3rem
        height: 3rem
        border-radius: 50%
        top: calc(50% - 1.5rem)
        left: calc(50% - 1.5rem)
        position: absolute
        border: 0.3rem solid $loading-color
        opacity: 0
        animation: loading 1s infinite
        animation-delay: 1s
