@keyframes loading
    0%
        opacity: 0

    30%
        transform: scale(0.5)
        opacity: 0

    70%
        opacity: 1

    100%
        transform: scale(1)
        opacity: 0

@keyframes blink
    0%
        opacity: 0

    50%
        opacity: 1

@keyframes slide-in
    0%
        transform: translateY(100vw)
    100%
        transform: translateY(0)
