@import ../private/vars

.lightbox
    position: fixed
    display: block
    width: 100%
    height: 100%
    background-color: fade-out(darken($color-fg, 10%), 0.1)
    text-align: center
    top: 0
    left: 0
    z-index: $z-index-overlay
    opacity: 0
    transition: opacity $transition

    &::before
        content: ""
        display: inline-block
        height: 100%
        width: 0
        vertical-align: middle

    &__image
        max-width: 90vw
        max-height: 90vh
        display: inline-block
        vertical-align: middle
        position: relative
        margin: auto
        border: 5px solid darken($color-fg, 10%)
        background-color: darken($color-fg, 10%)
        opacity: 1
        transition: opacity $transition

        .is--loading &
            opacity: 0

    &.is--shown
        opacity: 1

    &.is--loading
        @include loading-indicator($color-bg)

