@import ../private/vars

::selection
    background-color: $color-highlight

body.is--no-scroll
    overflow: hidden

    &.admin-bar
        padding-top: 32px

        #main-navigation
            top: calc(2rem + 32px)

.header__title::after
    animation: blink 1s steps(1) infinite alternate

code, .code
    pre &
        &::before
            counter-reset: lines
            content: attr(rel)
            position: absolute
            top: -0.8em
            right: 1ch
            font-family: $font-family-monospace
            opacity: 0
            transition: opacity $transition, transform $transition
            transform: translateY(5px)

        .code__line
            counter-increment: lines

            &::before
                content: " " counter(lines) " "
                position: absolute
                left: 0
                font-family: $font-family-monospace
                opacity: 0
                transition: opacity $transition

        &:hover, &:focus
            &::before
                opacity: 0.5
                transform: none

            .code__line
                &:hover
                    background-color: lighten($color-fg, 8)
                &::before
                    opacity: 0.5

.floaticons
    width: auto
    display: block
    min-height: 6rem
    padding: 0 0 0 6.5rem
    margin-bottom: 3rem

    &:last-of-type
        margin-bottom: 0

    &::before
        margin: 1rem -6rem
        height: 100%
        font-family: $font-family-icon
        display: block
        font-size: 4rem
        float: left
        width: 0

    &.mail::before
        content: "\f0e0"

    &.work::before
        content: "\f0b1"

    &.vita::before
        content: "\f19d"

.copy
    opacity: 0.15
    text-align: right
    font-size: 0.7rem

.shruggie
    font-size: 3em
    text-align: center
    display: block
    margin: 1em 0
