@import "../private/vars"

#ctrl-btn
    position: relative
    font-family: $font-family-icon
    font-size: 0
    color: $color-fg
    display: block
    width: 2.2rem
    margin: 5rem auto 1rem
    text-align: center
    text-decoration: none
    cursor: pointer
    transition: transform $transition

    &::before
        display: block
        font-size: 2.2rem
        transition: transform $transition
        visibility: visible

    &.is--more
        visibility: visible
        &::before
            content: "\f078"

        &:hover
            transform: translateY(5px)

    &.is--loading
        visibility: visible
        @include loading-indicator()

        &::before
            content: ""
            width: 2rem
            height: 2rem
            top: -.1rem
            left: calc(50% - 1.1rem)
            border-width: .2rem
            margin-bottom: 3.75rem

        &::after
            margin-top: -4.5rem
            animation-delay: 0s

    &.is--up
        &::before
            content: "\f078"
            transform: rotate(180deg)

        &::after
            display: none

        &:hover
            transform: translateY(-5px)

.pagination__link
    @extend #ctrl-btn
    visibility: visible

    &.is--prev
        transform: rotate(90deg)
        position: absolute
        left: 1.875rem
        margin-top: 6.55rem

    &.is--next
        transform: rotate(270deg)
        position: absolute
        right: 1.875rem
        margin-top: 5.25rem

    &.is--prev::before,
    &.is--next::before
        font-size: 2.2rem
        content: "\f078"

.pagination .prev::before:hover,
.pagination .next::before:hover,
#ctrl-btn.more::before:hover
    transform: translateY(5px)
